.userContainer{
    display: flex;
    padding: 10px;
    align-items: center;
    position: relative;
}
.userContainer.activeUser::after{
    content: "";
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 5%;
    right: -15%;
    transform: rotate(45deg);
    border-radius: 10px;
}
span{
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 0 11%;
    display: inline-block;
    opacity: .2;
}
.uimg{
    width: 10px;
    height: 8px;
    background: white;
    padding: 6px 14px 17px 11px;
    text-transform: capitalize;
    border-radius: 50px;
    margin: 0 5px;
}
.user{
    padding: 0 10px;
}
.username{
    font-weight: bold;
}